.theater {
    width: 100%;
}
.content {
    width: 75%;
    margin: auto;
    height: 720px;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    max-height: 720px;
    margin-bottom: 40px;
    background-color: #fff;
}

