
ul {
    list-style: none;
}
a {
    font-size: 20px;
    color: #189a46;
    font-weight: 400;
    text-decoration: none;
}

.navbar-brand a {
    font-size: 34px;
    color:#189a46;
    font-weight: 700;
    text-decoration: none;
}
.navbar-brand a:hover {
    color:#189a46;
    
}

.navbar-brand {
    padding-left: 70px;
   
}
