
.header {
    display: flex;
    
}
.header-ul {
    display: flex;
}
.header-right {
    padding: 30px
}
ul {
    list-style: none;
}
a {
    font-size: 20px;
    color: #189a46;
    font-weight: 400;
    text-decoration: none;
}
.header-ul .navbar-brand:hover {
    color: #189a46;
}
.account-name:hover {
    text-decoration: none;
  
}
.account-name span{
    color: #189a46;
}
.account-name span:hover {
color:#10612d;
}
.navbar-brand a {
    display: flex;
    font-size: 20px;
    color:#189a46;
    font-weight: 700;
    text-decoration: none;
}
.navbar-brand a:hover {
    color:#10612d;
    text-decoration: none;
}
.navbar-brand {
    padding-left: 50px;
   
}
@media (max-width: 991px){
    .header-ul {
        display: inline-block; 
    }
}
